{% extends 'layout/basicedit.html' %}

{% block title %}
 <title>Створення запису</title>
{% endblock title %}


{% block content %}

<style>
    p{
        background-color: #b8b0b0;
    }
    label{
        background-color: #b8b0b0;
    }
</style>



<div class="table-edit">
    <div class="edit">

        <form class="form-edit" action="{% url "Note" %}" method="post">
            {% csrf_token %}
            <div style="background-color:#b8b0b0" class="form-group">
                {{form.as_p}}
            </div>
            <button style="width:8em;height:2.5em;margin-top:.4em;margin-left:.2em" type="submit" class="btn btn-success">Додати</button>
        </form>
    </div>

</div>




        
     <!--   <div>
        <form action="{% url "Note" %}"method="post">
        {% csrf_token %}

        {{ form.as_p }}
        
        <input type="submit" value="Додати">
        </form>
        </div>
        
    </body>


</html>-->

{% endblock content %}