{% extends 'layout/basicedit.html' %}
{% block title %}
<title>Редагування</title>
{% endblock title %}

{% block content %}


<div class="table-edit">
    <div class="edit">
        
        <form class="form-edit" action="{% url "EditEntryPage" %}" method="post">
            <div style="margin-left:4.4em; margin-top:.3em;background-color:#b8b0b0;font-size:120%">
            Зміна запису
            </div>
            {% csrf_token %}
            <div style="background-color:#b8b0b0;margin-top:1.5em" class="form-group">
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="changednote" value="{{ note }}">
            </div>
            <button style="width:8em;height:2.5em;margin-top:.4em;margin-left:.2em" type="submit" class="btn btn-success">Підтвердити</button>
        </form>
    </div>

</div>



{% endblock content %}