{% extends 'layout/basicedit.html' %}
{% block title %}
<title>Редагування</title>
{% endblock title %}

{% block content %}

<style>
label{
    background-color: #b8b0b0;
}
</style>


<div class="table-edit">
    <div class="edit">
        
        <form name="form" class="form-edit" onsubit="return false;"method="post">
            {% if option == "note" %}
            <div style="margin-left:4.4em; margin-top:.3em;background-color:#b8b0b0;font-size:120%">
            Зміна запису
            </div>
            {% else %}
            <div style="margin-left:4.4em; margin-top:.3em;background-color:#b8b0b0;font-size:120%">
            Зміна опису
            </div>
            {% endif %}
            {% csrf_token %}
            {% if form.errors %}
                    {% if form.note.errors %}
                        <div class="alert alert-danger" role="alert">{{form.note.errors.as_text}}</div>

                    {% else %}
                        <div class="alert alert-danger" role="alert">{{form.description.errors.as_text}}</div>
                    {% endif %}
            {% endif %}
            <div style="background-color:#b8b0b0;margin-top:1.5em" class="form-group">
                {% if form.note %}
                    {{form.note.label}}
                    {{form.note}}
                {% else %}
                    {{form.description.label}}
                    {{form.description}}
                {% endif %}
            </div>
            <button style="width:8em;height:2.5em;margin-top:.4em;margin-left:.2em" type="button" onclick="document.forms['form'].submit()" class="btn btn-success">Підтвердити</button>
        </form>
    </div>

</div>



{% endblock content %}